extends layout

include ./mixins

block content
    h1 Login
    p please login below
    form(method='post', action='/users/login', enctype='multiparts/form-data')
        +form("Name", "username", "text")
        +form("Password", "password", "password")
        input.btn.btn-default(name="submit", type="submit", value="Login")